@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
}

#menu-topo {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
	background: #333;
	height: 70px;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
#menu-topo .logo {
	padding-left: 20px;
}
#menu-topo .logo img {
	width: 30%;
}
#menu-topo ul {
	display: flex;
	justify-content: center;
	align-items: center;
}
#menu-topo ul li {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px 25px;
}
#menu-topo ul li a {
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	height: 70px;
	padding-right: 15px;
	padding-left: 15px;

	display: flex;
	align-items: center;
}
#menu-topo ul li a:hover {
	background: #FFF;
	color: #000;
}

.content {
	display: flex;

	background: gray;
	min-height: 700px;
}

#menu-lateral {
	background: #adadad;
	width: 20%;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#menu-lateral ul {
	width: 100%;
}
#menu-lateral ul li:first-of-type {
	border-top-width: 0;
}
#menu-lateral ul li {
	padding: 10px;
	border: 1px solid #666;
	border-right-width: 0;
	border-left-width: 0;
	border-top-width: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 30px;
}
#menu-lateral ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	width: 70%;
}

#conteudo-central {
	background: #FFF;
	width: 80%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#footer {
	background-color: #333;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFF;
	height: 80px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 13px;
	padding: 0 20px;
}

#footer img {
	width: 200px;
}